:root {
  --bleuFonce: #292961;
  --blanc: #F2F6FC;
  --orange: #EE7C24;
  --table-border-color: #ccc;
  --table-bg-color: #f7f7f7;
  --table-bg-color2: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}
img {
  width: 100%;
  vertical-align: center;
}
a {
  text-decoration: none;
}
body {
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

.wrap {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}
body>.container {
  min-height: calc(100vh - 220px);
  padding-left: 350px;
}

body{
  display: flex;

  #sidebar {
    position: fixed;
    width: 300px;
    background-color: var(--bleuFonce);
    height: 100vh;
    a, p {
      color: var(--blanc);
      font-size: 1.3rem;
    }
    a{
      transition: all .5s ease;
    }
    a:hover {
      transform: scale(1.1);
      color: var(--orange);
    }
    .sidebar_content {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 4rem;
      .emprunts>p {
        opacity: 0.7;
        padding-bottom: 1rem;
      }
      .container {
        border-top: solid 1px rgba(0,0,0,0.5) ;
        border-bottom: solid 1px rgba(0,0,0,0.5) ;
      }
      .container, .stats {
        padding-left: 2rem;
      }
      .container ul>li{
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    }
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  color: #333;
  border: 1px solid var(--table-border-color);

  th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid var(--table-border-color);
  }

  th {
    background-color: var(--table-bg-color);
    font-weight: bold;
  }

  tr:nth-child(even) {
    background-color: var(--table-bg-color2);
  }
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}





